.logo{
    display: block;
    margin: auto;
    margin-top: 15vw;
}
form {
    font-size:16px;
}

form input {
    height: 46px;
    width: 83%;
    border: none;
    margin: auto;
    position: relative;
    display: block;
    font-size:16px;
    color: rgba(0,0,0,.87);
}

.search-container:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-container {
    display:block;
    margin: auto;
    margin-top: 3em;
    height: 46px;
    width: 544px;
    border-radius: 50px;
    border: 1px solid #dfe1e5;
}